<table>
  <tr>
    <td>Name</td>
    <td>IsOnline</td>
    <td>Serial Number</td>
  </tr>
  <!-- we use the array records to iterate the data-->
  <tr *ngFor="let d of records; let i=index; let evenData = even; let oddData=odd; let firstRecord = first; let lastRecord = last;" [ngClass]="{even:evenData , odd:oddData, last:lastRecord, first:firstRecord}">
      <td>{{d.name}}</td>
      <td>{{d.online}}</td>
      <td>{{i}}</td>
  </tr>
</table>
<button routerLink="/data">Go to data page</button>
<button routerLink="/hello">Go to hello page</button>
<router-outlet></router-outlet>
